In [1]:
import pandas as pd

In [5]:
# File to Load (Remember to Change These)
csv_file = "project 2.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(csv_file)
df.head()

,query,query_p1,query_p2,query_p3,query_p4,name,site,type,subtypes,category,...,verified,owner_id,owner_title,owner_link,reserving_table_link,booking_appointment_link,location_link,place_id,google_id,reviews_id
0,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,endive Publik house,http://endivepublik.com/,American restaurant,"American restaurant, Restaurant",restaurants,...,True,103972737644730162493,endive Publik house,https://www.google.com/maps/contrib/1039727376...,NaN,NaN,https://www.google.com/maps/place/endive+Publi...,ChIJP3xhn_kE9YgR1V8Sxp6tz2A,0x88f504f99f617c3f:0x60cfad9ec6125fd5,6.975985e+18
1,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,MattChews,http://mattchews.com/,Restaurant,Restaurant,restaurants,...,True,107979649162205133228,MattChews,https://www.google.com/maps/contrib/1079796491...,NaN,NaN,https://www.google.com/maps/place/MattChews/@3...,ChIJd0QZoV8F9YgRxB3Cg2-wfWs,0x88f5055fa1194477:0x6b7db06f83c21dc4,7.745541e+18
2,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Ferst Place,NaN,Restaurant,Restaurant,restaurants,...,False,NaN,Ferst Place,NaN,NaN,NaN,https://www.google.com/maps/place/Ferst+Place/...,ChIJh9Mbp4kE9YgRQWAfEFurcXM,0x88f50489a71bd387:0x7371ab5b101f6041,8.318618e+18
3,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Babette's Cafe,http://www.babettescafe.com/,Restaurant,"Restaurant, European restaurant",restaurants,...,True,110839985755015092338,Babette's Cafe,https://www.google.com/maps/contrib/1108399857...,https://www.opentable.com/restaurant/profile/6...,https://www.opentable.com/restaurant/profile/6...,https://www.google.com/maps/place/Babette%27s+...,ChIJZctfsKcG9YgRF22ittOUCq0,0x88f506a7b05fcb65:0xad0a94d3b6a26d17,-5.977802e+18
4,"restaurant, North Ave NW, Atlanta, GA 30332",restaurant,North Ave NW,Atlanta,GA 30332,Gio’s Chicken Amalfitano,https://littleitalia.com/#restaurants,Italian restaurant,Italian restaurant,restaurants,...,True,108449447271906642963,Gio’s Chicken Amalfitano,https://www.google.com/maps/contrib/1084494472...,NaN,NaN,https://www.google.com/maps/place/Gio%E2%80%99...,ChIJdYenZvIE9YgRH9kn2pjDA58,0x88f504f266a78775:0x9f03c398da27d91f,-6.988527e+18

In [6]:
new_df=df[['name', 'type', 'rating', 'reviews', 'range']].copy()
new_df.head()

                       name                 type  rating  reviews range
0       endive Publik house  American restaurant     4.9    199.0    $$
1                 MattChews           Restaurant     4.9     72.0    $$
2               Ferst Place           Restaurant     4.6     11.0   NaN
3            Babette's Cafe           Restaurant     4.8    383.0   $$$
4  Gio’s Chicken Amalfitano   Italian restaurant     4.5    848.0    $$